.big-button {
  width: 100%;
  margin-bottom: $xl-sizes;
  padding: 2.4rem;

  border:  none;
  border-bottom: .6rem solid darken($purple, 10%);
  background: $purple;
  color: white;
  font-weight: bold;
  font-size: $l-sizes;
}

.big-button:disabled {
  opacity: .5;
}

.button {
  padding: $s-sizes;

  font-weight: 500;

  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
}

.button--link {
  padding: 0;
  
  background: none;
  border: none;
  color: $off-white;
}

@media (min-width: $desctop-breakpoint) {
  .big-button  {
    margin-bottom: $xl-sizes;

    font-size: $l-sizes;
  }
}