.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay  {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 200ms ease-in-out;
  overflow-y: auto;
}

.ReactModalPortal .ReactModal__Overlay--after-open  {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close  {
  opacity: 0;
}

.modal {
  max-width: 30rem;

  padding: $l-sizes;

  text-align: center;
  background: $light-blue;
  color: white;
  outline: none;
}

.modal__title {
  margin: 0 0 $m-sizes 0;
}

.modal__body {
  margin: 0 0 $l-sizes 0;
  font-size: 2rem;
  font-weight: 300;

  word-break: break-all;
}