.page-header {
  background: #f7f7f7;
  margin-bottom: $l-sizes;
  padding: $l-sizes 0;
}

.page-header__actions {
  margin-top: $m-sizes; 
}

.page-header__title {
  margin: 0;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}